* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    min-height: 50px;
    display: flex;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

/*DEBUG*/

.w-1000 {
    width: 1000px;
}

.w-800 {
    width: 800px;
}

.h-300 {
    min-height: 300px;
}

.h-250 {
    min-height: 250px;
}
/*UTILS*/

.container {
    display: flex;
    min-height: 25px;

    background-color: goldenrod;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.roof {
    display: flex;

    background-color: blue;
}

.box-alone {
    background-color: violet;
}